body {
    color: white;
    background-color: rgb(40, 66, 66);
}
header {
    font: normal bolder 5em  Comic, "Times New Roman", serif;
    color: #faba22;
    text-align: center;
}

#movies > ul {
    list-style-type: decimal;
}

.aboutLists > h2 {
    text-indent: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: burlywood;
}

h4::first-letter {
    font-size: 2em;
    color: brown;
}

a img {
    width: 100px;
    height: 50px;
}
a {
    text-decoration: none;
}
a:visited {
    color: cadetblue;
}
span img {
    width: 300px;
    height: 300px;
}